.container {
	background-color: #ededed;
	padding: 20rpx;
	padding-bottom: 120rpx;
}
.message-list {
	display: flex;
	flex-direction: column;
	.message-box {
		display: flex;
		align-items: flex-start;
		margin-bottom: 30rpx;
		.head-portrait {
			width: 80rpx;
			height: 80rpx;
			border-radius: 10rpx;
			flex-shrink: 0;
			background-color: #04aa6d;
		}
		.content {
			margin: 0 10rpx;
			.message-sender-name {
				padding: 0 0 10rpx 10rpx;
				font-size: 0.8rem;
				color: #333;
			}
			.text {
				background-color: white;
			}
		}
	}
	.message-left {
		flex-direction: row;
	}
	.self-message-item {
		flex-direction: row-reverse;
	}
	.message-time {
		text-align: left;
		margin-top: 20rpx;
		font-size: 24rpx;
		color: #666;
	}
	.middle-message {
		text-align: center;
		margin: 30rpx;
		font-size: 24rpx;
		color: #666;
	}
}
// 右侧箭头聊天框
.self-message-text {
	position: relative;
	background: #89d961;
	padding: 20rpx;
	margin: 0 10rpx 0 90rpx;
	border-radius: 8rpx;
}
.self-message-text::after {
	content: '';
	position: absolute;
	top: 20rpx; /* 将箭头放置在div下方 20px */
	right: -26rpx; /* 将箭头放置在div的左边 10px */
	border-width: 15rpx;
	border-style: solid;
	border-color: transparent transparent transparent #89d961; /* 箭头颜色和位置 */
}

// 左侧箭头聊天框
.other-message-text {
	position: relative;
	background: white;
	padding: 20rpx;
	margin: 0 90rpx 0 10rpx;
	border-radius: 8rpx;
}
.other-message-text::after {
	content: '';
	position: absolute;
	top: 20rpx; /* 将箭头放置在div下方 20px */
	left: -26rpx; /* 将箭头放置在div的左边 10px */
	border-width: 15rpx;
	border-style: solid;
	border-color: transparent white transparent transparent; /* 箭头颜色和位置 */
}

// 底部操作区域
.bottom-operation-tabbar {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 20rpx;
	border-top: 2rpx solid #d8d8d8;
	background-color: #f7f7f7;
	width: 100vw;
	box-sizing: border-box;
	.tabbar-list {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		width: 100%;
		.item {
		}
		.message-input {
			background-color: white;
			padding: 10rpx;
			border-radius: 10rpx;
			max-height: 20vh;
		}
		.message-send {
			flex-shrink: 0;
			margin-left: 20rpx;
		}
	}
}